* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

#div1 {
    padding: 100px;
    border-style: solid;
    border: 1px bold;
    position: absolute;
    border-radius: 5%;
    background-color: azure;
}